<div class="filters">
    <!--<h3>Filter events</h3>-->         
    
    
    <!-- 1. EVENT TYPE  -->
    <div class="filter-item" id="event-type">

            <form>
                <div class="checkbox-item" data-label="in-person-events" filter-type="event-type">
                <label data-option="in-person-events" data-label="in-person-events" filter-type="event-type" > 
                    
                    In person events</label>
                    <input type="checkbox" id="in-person-events">
                </div>
                
                
                <div class="checkbox-item" data-label="online-events" filter-type="event-type">
                <label data-option="online-events" data-label="online-events" filter-type="event-type">
                    
                    Online events</label>
                    <input type="checkbox" id="online-events">
                </div>
          
                
          
                <div class="checkbox-item" data-label="past-recorded-events" filter-type="event-type">
                <label data-option="past-recorded-events" data-label="past-recorded-events" filter-type="event-type">
                   
                    On demand events</label>
                    <input type="checkbox" id="past-recorded-events">
                </div>
           </form>
      
    </div>

   
    <!-- 2. DATE -->
    <div class="filter-item" id="date">
                    <div class="filter-item-title">
                         <p>Date <span class="mobile-counter"></span></p>
                        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="12.5" viewBox="0 0 20 12.5">
                            <g transform="translate(20 12.5) rotate(180)">
                                <path id="Chevron_Up" data-name="Chevron / Up" d="M10,4.965,2.478,12.5,0,10.018,10,0,20,10.018,17.522,12.5Z" fill="#333" />
                            </g>
                        </svg>

                         </div>
                    <div class="active-filters multi-select">
                        <ul>
                            
                            <li filter-type="date" data-option="this-month" data-label="this-month"> <span class="current-month"></span> (this month)</li>
                            <li filter-type="date" data-option="this-month-plus-1" data-label="this-month-plus-1" ><span class="current-month-plus-1"></span> (next month)</li>
                            <li filter-type="date" data-option="this-month-plus-2" data-label="this-month-plus-2"><span class="current-month-plus-2"> </span> and further dates</li>
                 
                            
                        </ul>
                    </div>                
                    <div class="filter-item-content">

                        <form>
                            
                            <div class="checkbox-item" data-option="this-month" data-label="this-month" filter-type="date">
                            <input type="checkbox">
                            <label data-option="this-month" data-label="this-month"><span class="current-month"></span> (this month)</label>
                            </div> 
                            
                            <div class="checkbox-item" data-option="this-month-plus-1" data-label="this-month-plus-1" filter-type="date">
                            <input type="checkbox">
                            <label data-option="this-month-plus-1"  data-label="this-month-plus-1"><span class="current-month-plus-1"></span> (next month)</label>
                            </div> 
                            
                            <div class="checkbox-item" data-option="this-month-plus-2" data-label="this-month-plus-2" filter-type="date">
                            <input type="checkbox">
                            <label data-option="this-month-plus-2" data-label="this-month-plus-2"><span class="current-month-plus-2"> </span>  and further dates</label>
                            </div>   
                            
                             
                        </form>
                        
                        

                        </div>
                    
    </div>
    
    
    
    <!-- 2. TOPIC -->
    <div class="filter-item" id="topic">
                    <div class="filter-item-title">
                         <p>Topic <span class="mobile-counter"></span></p>
                        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="12.5" viewBox="0 0 20 12.5">
                            <g transform="translate(20 12.5) rotate(180)">
                                <path id="Chevron_Up" data-name="Chevron / Up" d="M10,4.965,2.478,12.5,0,10.018,10,0,20,10.018,17.522,12.5Z" fill="#333" />
                            </g>
                        </svg>

                         </div>
                    <div class="active-filters multi-select">
                        <ul>
                            <li filter-type="topic" data-label="business-finance" data-option="business-finance">Business finance</li>
                            <li filter-type="topic" data-label="business-planning" data-option="business-planning">Business planning</li>
                            <li filter-type="topic" data-label="contracting-and-tendering" data-option="contracting-and-tendering">Contracting and tendering</li>
                            <li filter-type="topic" data-label="customer-service" data-option="customer-service">Customer service</li>
                            <li filter-type="topic" data-label="digital-business" data-option="digital-business">Digital business</li>
                            <li filter-type="topic" data-label="employing-people" data-option="employing-people">Employing people</li>
                            <li filter-type="topic" data-label="exporting" data-option="exporting">Exporting</li>
                            <li filter-type="topic" data-label="government-grant-programs" data-option="government-grant-programs">Government grant programs</li> 
                            <li filter-type="topic" data-label="industry-compliance" data-option="industry-compliance">Industry compliance</li>
                            <li filter-type="topic" data-label="innovation-and-commercialisation" data-option="innovation-and-commercialisation">Innovation and commercialisation</li>
                            <li filter-type="topic" data-label="marketing" data-option="marketing">Marketing</li>
                            <li filter-type="topic" data-label="networking" data-option="networking">Networking</li>
                            <li filter-type="topic" data-label="starting-a-business" data-option="starting-a-business">Starting a business</li>
                            <li filter-type="topic" data-label="taxation-and-record-keeping" data-option="taxation-and-record-keeping">Taxation and record keeping</li>
                            <li filter-type="topic" data-label="work-health-and-safety" data-option="work-health-and-safety">Work health and safety</li>
                        </ul>
                    </div>                
                    
        
                    <div class="filter-item-content">

                        <form>
                            <div class="checkbox-item" data-label="business-finance" data-option="business-finance" filter-type="topic">
                            <input type="checkbox">
                            <label data-label="business-finance" data-option="business-finance" data-option="business-finance">Business finance</label>
                            </div>
                            
                            <div class="checkbox-item" data-label="business-planning" data-option="business-planning" filter-type="topic">
                            <input type="checkbox">
                            <label data-label="business-planning" data-option="business-planning" data-option="business-planning">Business planning</label>
                            </div>
                            
                            <div class="checkbox-item" data-label="contracting-and-tendering" data-option="contracting-and-tendering" filter-type="topic">
                            <input type="checkbox">
                            <label data-label="topic1" data-label="contracting-and-tendering" data-option="contracting-and-tendering">Contracting and tendering</label>
                            </div> 
                            
                            <div class="checkbox-item" data-label="customer-service" data-option="customer-service" filter-type="topic">
                            <input type="checkbox">
                            <label data-label="customer-service" data-option="customer-service">Customer service</label>
                            </div>
                                                        
                            <div class="checkbox-item" data-label="digital-business" data-option="digital-business" filter-type="topic">
                            <input type="checkbox">
                            <label data-label="digital-business" data-option="digital-business">Digital business</label>
                            </div>  
                            
                            <div class="checkbox-item" data-label="employing-people" data-option="employing-people" filter-type="topic">
                            <input type="checkbox">
                            <label data-label="employing-people" data-option="employing-people">Employing people</label>
                            </div>
                            
                            <div class="checkbox-item" data-label="exporting" data-option="exporting" filter-type="topic">
                            <input type="checkbox">
                            <label data-label="exporting" data-option="exporting">Exporting</label>
                            </div>
                            
                            <div class="checkbox-item" data-label="government-grant-programs" data-option="government-grant-programs" filter-type="topic">
                            <input type="checkbox">
                            <label data-label="government-grant-programs" data-option="government-grant-programs">Government grant programs</label>
                            </div>
                            
                            <div class="checkbox-item" data-label="industry-compliance" data-option="industry-compliance" filter-type="topic">
                            <input type="checkbox">
                            <label data-label="industry-compliance" data-option="industry-compliance">Industry compliance</label>
                            </div>
                            
                            <div class="checkbox-item" data-label="innovation-and-commercialisation" data-option="innovation-and-commercialisation" filter-type="topic">
                            <input type="checkbox">
                            <label data-label="innovation-and-commercialisation" data-option="innovation-and-commercialisation">Innovation and commercialisation</label>
                            </div>
                            
                            <div class="checkbox-item" data-label="marketing" data-option="marketing" filter-type="topic">
                            <input type="checkbox">
                            <label data-label="marketing" data-option="marketing">Marketing</label>
                            </div>
                            
                            <div class="checkbox-item" data-label="networking" data-option="networking" filter-type="topic">
                            <input type="checkbox">
                            <label data-label="networking" data-option="networking">Networking</label>
                            </div>
                            
                            <div class="checkbox-item" data-label="starting-a-business" data-option="starting-a-business" filter-type="topic">
                            <input type="checkbox">
                            <label data-label="starting-a-business" data-option="starting-a-business">Starting a business</label>
                            </div> 
                                                    
                            <div class="checkbox-item" data-label="taxation-and-record-keeping" data-option="taxation-and-record-keeping" filter-type="topic">
                            <input type="checkbox">
                            <label data-label="taxation-and-record-keeping" data-option="taxation-and-record-keeping">Taxation and record keeping</label>
                            </div>  
                            
                            <div class="checkbox-item" data-label="work-health-and-safety" data-option="work-health-and-safety" filter-type="topic">
                            <input type="checkbox">
                            <label data-label="work-health-and-safety" data-option="work-health-and-safety">Work health and safety</label>
                            </div>
 
                             
                        </form>

                        </div>
                    </div>
            
    
    <!-- 3. BUSINESS LOCATION -->
    <div class="filter-item" id="location">
                 
        <div class="filter-item-title">
            <p>Business location <span class="mobile-counter"></span></p>
            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="12.5" viewBox="0 0 20 12.5">
                <g transform="translate(20 12.5) rotate(180)">
                    <path id="Chevron_Up" data-name="Chevron / Up" d="M10,4.965,2.478,12.5,0,10.018,10,0,20,10.018,17.522,12.5Z" fill="#333" />
                </g>
            </svg>

        </div>
        
        <div class="active-filters multi-select">
                        <ul>
                            
                            <li filter-type="location" data-option="australian-capital-territory" data-label="australian-capital-territory">Australian Capital Territory</li>
                            <li filter-type="location" data-option="new-south-wales" data-label="new-south-wales">New South Wales</li>
                            <li filter-type="location" data-option="northern-territory" data-label="northern-territory">Northern Territory</li>
                            <li filter-type="location" data-option="queensland" data-label="queensland">Queensland</li>
                            <li filter-type="location" data-option="south-australia" data-label="south-australia">South Australia</li>
                            <li filter-type="location" data-option="tasmania" data-label="tasmania">Tasmania</li>
                            <li filter-type="location" data-option="victoria" data-label="victoria">Victoria</li>
                            <li filter-type="location" data-option="western-australia" data-label="western-australia">Western Australia</li>
                            <li filter-type="location" data-option="other-australian-territory" data-label="other-australian-territory">Other Australian territory</li>
                            
                        </ul>
                    </div>                
        <div class="filter-item-content">

                        <form>
                            
                            <div class="checkbox-item" filter-type="location" data-option="australian-capital-territory" data-label="australian-capital-territory">
                            <input type="checkbox">
                            <label data-option="australian-capital-territory" data-label="australian-capital-territory">Australian Capital Territory</label>
                            </div>
                            
                            <div class="checkbox-item" filter-type="location" data-option="new-south-wales" data-label="new-south-wales">
                            <input type="checkbox">
                            <label data-option="new-south-wales" data-label="new-south-wales">New South Wales</label>
                            </div>  
                            
                            <div class="checkbox-item" filter-type="location" data-option="northern-territory" data-label="northern-territory">
                            <input type="checkbox">
                            <label data-option="northern-territory" data-label="northern-territory">Northern Territory</label>
                            </div>
                            
                            <div class="checkbox-item" filter-type="location" data-option="queensland" data-label="queensland">
                            <input type="checkbox">
                            <label  data-option="queensland" data-label="queensland">Queensland</label>
                            </div>
                            
                            <div class="checkbox-item" filter-type="location" data-option="south-australia" data-label="south-australia">
                            <input type="checkbox">
                            <label data-option="south-australia" data-label="south-australia">South Australia</label>
                            </div>
                            
                            <div class="checkbox-item" filter-type="location" data-option="tasmania" data-label="tasmania">
                            <input type="checkbox">
                            <label  data-option="tasmania" data-label="tasmania">Tasmania</label>
                            </div>
                            
                            <div class="checkbox-item" filter-type="location" data-option="victoria" data-label="victoria">
                            <input type="checkbox">
                            <label data-option="victoria" data-label="victoria">Victoria</label>
                            </div>
                            
                            <div class="checkbox-item" filter-type="location" data-option="western-australia" data-label="western-australia">
                            <input type="checkbox">
                            <label data-option="western-australia" data-label="western-australia">Western Australia</label>
                            </div>
                            
                            <div class="checkbox-item" filter-type="location" data-option="other-australian-territory" data-label="other-australian-territory">
                            <input type="checkbox">
                            <label data-option="other-australian-territory" data-label="other-australian-territory">Other Australian territory</label>
                            </div>
                             
                        </form>
                        
                        

                        </div>
                   
        
        
              
    </div>
    
                 
    </div>
    
